
@media (min-width: 1200px) and (max-width: 1500px) {}

@media (min-width: 992px) and (max-width: 1199px) {
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
}

@media (min-width: 576px) and (max-width: 767px) {

}

@media (max-width: 575px) {
    
    
    .main_form{
        
    }

    .main{
        margin-top: 40px;
    }
    .sub_btn {
        margin-left: 0px;
        margin: 0 auto;
        margin-top: 0px;
        margin-top: 30px;
    }
    .Our_box{
        width: 50%;
        height: 65%;
    }

    .main .Our_box {
        border-radius: 30px;
        margin-bottom: 25px;
        padding: 30px 0;
    }

    .main .Our_box h4 {
        font-size: 12px;
        line-height: 50px;
        font-weight: 600;
        padding-top: 15px;
        padding-bottom: 0;
    }

    .main .read_more {
        margin-top: 30px;
        margin-bottom: 0px;
    }

    img {
        height: 40%;
    }


}

